# Cadastro Nacional de Estabelecimentos de Saúde #

##  ##

Importação biblioteca [Pandas](https://pandas.pydata.org/)

In [1]:
import pandas as pd

In [2]:
arq_municipios = 'tbMunicipio201807'
df_municipios = pd.read_csv('CNES/BASE_DE_DADOS_CNES_201807/' + arq_municipios + '.csv', dtype={'user_id': int}  ,sep=';', low_memory=False)
df_municipios = df_municipios[df_municipios['CO_SIGLA_ESTADO'] == 'RN']
df_municipios = df_municipios[df_municipios['NO_MUNICIPIO'] == 'NATAL']
df_municipios

,CO_MUNICIPIO,NO_MUNICIPIO,CO_SIGLA_ESTADO,TP_CADASTRO,TP_PACTO,TP_ENVIA,TP_ENVIA_CNES,TP_CIB_SAS,TP_PLENO_ORIGEM,TP_MAC,NU_POPULACAO,NU_DENSIDADE,CMTP_INICIO_MAC
3615,240810,NATAL,RN,S,S,1,S,S,S,S,NaN,5.0,32018.0

In [3]:
estabelecimentos = 'tbEstabelecimento201807'
df_estabelecimentos = pd.read_csv('CNES/BASE_DE_DADOS_CNES_201807/' + estabelecimentos + '.csv', dtype={'user_id': int}  ,sep=';', low_memory=False)
df_estabelecimentos = df_estabelecimentos[df_estabelecimentos['CO_ESTADO_GESTOR'] == 24]
df_estabelecimentos = df_estabelecimentos[df_estabelecimentos['CO_MUNICIPIO_GESTOR'] == 240810]

for i in range(1,15):
    df_estabelecimentos = df_estabelecimentos[df_estabelecimentos['CO_MOTIVO_DESAB'] != i ]

df_estabelecimentos.head()
# df_estabelecimentos

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,"TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')",NO_USUARIO_GEO,CO_NATUREZA_JUR,TP_ESTAB_SEMPRE_ABERTO,ST_GERACREDITO_GERENTE_SGIF,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
1091,2408107772394,7772394,NaN,1,1,OZENILDO TEODOZIO DE MELO,CONSULTORIO MEDICO DR OZENILDO MELO,RUA JOAQUIM MANOEL,615,NaN,...,NaN,NaN,4000.0,NaN,NaN,S,NaN,NaN,M,16/07/2015
1950,2408107656351,7656351,NaN,3,1,ECOCARDIO NATAL ASSISTENCIA MEDICA LTDA,ECOCARDIO NATAL,RUA DIVINOPOLIS,2917,NaN,...,NaN,NaN,2062.0,NaN,NaN,S,NaN,NaN,M,21/02/2015
2201,2408107656467,7656467,NaN,3,1,NEURO VASCULAR CLINICA DE NEUROCIRURGIA LTDA ME,NEURO VASCULAR,RUA CORONEL AURIS COELHO,285,NaN,...,NaN,NaN,2062.0,N,NaN,S,NaN,NaN,M,21/02/2015
2254,2408107658583,7658583,NaN,3,1,LABORATORIO EMPRESARIAL DNA SS LTDA EPP,LABORATORIO DNA,RUA SAO JOSE,25,NaN,...,NaN,NaN,2240.0,NaN,NaN,S,NaN,NaN,M,21/02/2015
2255,2408107663242,7663242,NaN,3,1,GRUPO REVIVER NATAL,GRUPO REVIVER NATAL,VEREADOR JOAO ALVES,750,NaN,...,NaN,NaN,3999.0,N,NaN,S,NaN,NaN,M,21/02/2015

In [4]:
df_estabelecimentos2 = df_estabelecimentos.groupby('NO_BAIRRO').NO_BAIRRO.count().to_dict()

In [5]:
r_sul = ['CANDELARIA', 'CAPIM MACIO' , 'CIDADE JARDIM', 'LAAGOA NOVA',
       'LAGOA', 'LAGOA NAVA', 'LAGOA NOVA', 'LAGOA NOVAQ',
       'LAGOA NOVQA', 'EDF LAGOA CENTER', 'MIRASSOL', 'MORRO BRANCO',
       'NATAL', 'NEOPOLIS', 'NNOVA DESCOBERTA', 'NOVA DESCOBERTA',
       'PIRANGI', 'PITIMBU', 'CIDADE SATELITE', 'PONTA NEGRA',
       'POTILANDIA']

r_oeste = ['BAIXO DIX SEPT ROSAD', 'BOM PASTOR', 'CIDADE DA ESPERANCA',
         'CIDADE DA ESPEREANCA', 'DIX SEPT ROSADO' , 'DIXSEPT ROSADO',
         'DIXSEPTROSADO', 'FELIPE CAMARAO', 'GUARAPES', 'NAZARE',
         'NORDESTE', 'PLANALTO', 'QUINTAS', 'CIDADE NOVA', 'NOVA CIDADE']

r_norte = ['IGAPO', 'LAGOA AZUL', 'NOSSA S DA APRESENTA', 
         'NOSSA SENHORA DA APR', 'NOSSA SRA DA APRESEN',
         'N S APRESENTACAO', 'N S DA APRESENTACAO',
         'NOVA NATAL', 'PAJUCARA', 'POTENGI', 'REDINHA',
         'SANTAREM', 'VALE DOURADO']

r_leste = ['ALECRIM', 'AREIA PRETA', 'BARO VERMELHO', 'BARRO VERMELHO',
         'BAIRRO VERMELHO', 'BRRO VERMELHO', 'BRASILIA TEIMOSA',
         'CIDADE ALTA', 'CENTRO', 'LAGOA SECA', 'MAE LUIZA', 
         'PETEROPOLIS', 'PETREOPOLIS', 'PETROLPOLIS', 'PETROPILIS',
         'PETROPOIS', 'PETROPOLIS' , 'PETRPOLIS', 'RIBEIRA', 'ROCAS',
         'TIEROL', 'TIOROL', 'TIREOL', 'TIROL' , 'RITOL', 'AFONSO PENA',
         'CIDADE DA CRIANCA']

In [6]:
leste = 0
norte = 0 
oeste = 0
sul = 0

for bairro in df_estabelecimentos2.keys():
    if bairro in r_leste:
        leste += df_estabelecimentos2[bairro]
    elif bairro in r_oeste:
        oeste += df_estabelecimentos2[bairro]
    elif bairro in r_sul:
        sul += df_estabelecimentos2[bairro]
    elif bairro in r_norte:
        norte += df_estabelecimentos2[bairro]

In [7]:
print('Leste: ' + str(leste) + '\nNorte: ' + str(norte) +
      '\nOeste: ' + str(oeste) + '\nSul: ' + str(sul))

Leste: 1018
Norte: 79
Oeste: 75
Sul: 512

In [8]:
df_basicos = df_estabelecimentos[df_estabelecimentos['TP_UNIDADE'] == 2]
df_basicos.head()

,CO_UNIDADE,CO_CNES,NU_CNPJ_MANTENEDORA,TP_PFPJ,NIVEL_DEP,NO_RAZAO_SOCIAL,NO_FANTASIA,NO_LOGRADOURO,NU_ENDERECO,NO_COMPLEMENTO,...,"TO_CHAR(DT_ATU_GEO,'DD/MM/YYYY')",NO_USUARIO_GEO,CO_NATUREZA_JUR,TP_ESTAB_SEMPRE_ABERTO,ST_GERACREDITO_GERENTE_SGIF,ST_CONEXAO_INTERNET,CO_TIPO_UNIDADE,NO_FANTASIA_ABREV,TP_GESTAO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
12091,2408102408384,2408384,2.451857e+13,3,3,SECRETARIA MUNICIPAL DE SAUDE,USF VALE DOURADO,RUA IRMA VITORIA,706,NaN,...,20/04/2018,CARLOS,1031.0,N,NaN,S,NaN,NaN,M,26/11/2001
12094,2408102408627,2408627,2.451857e+13,3,3,SECRETARIA MUNICIPAL DE SAUDE,UNIDADE MISTA DE MAE LUIZA,RUA JOAO XXIII,S/N,NaN,...,NaN,NaN,1031.0,S,NaN,S,NaN,NaN,M,26/11/2001
12096,2408102408724,2408724,2.451857e+13,3,3,SECRETARIA MUNICIPAL DE SAUDE,UBS ALECRIM,AV PRESIDENTE BANDEIRA,935,NaN,...,16/04/2018,CARLOS,1031.0,N,NaN,S,NaN,NaN,M,26/11/2001
12097,2408102408740,2408740,2.451857e+13,3,3,SECRETARIA MUNICIPAL DE SAUDE,UBS SAO JOAO,RUA ROMUALDO GALVAO,891,NaN,...,NaN,NaN,1031.0,N,NaN,S,NaN,NaN,M,26/11/2001
12098,2408102408775,2408775,2.451857e+13,3,3,SECRETARIA MUNICIPAL DE SAUDE,USF BRASILIA TEIMOSA,RUA MIRAMAR,S/N,NaN,...,22/01/2018,CARLOS,1031.0,N,NaN,N,NaN,NaN,M,26/11/2001

In [9]:
df_basicos2 = df_basicos.groupby('NO_BAIRRO').NO_BAIRRO.count().to_dict()

In [10]:
leste = 0
norte = 0 
oeste = 0
sul = 0

for bairro in df_basicos2.keys():
    if bairro in r_leste:
        leste += df_basicos2[bairro]
    elif bairro in r_oeste:
        oeste += df_basicos2[bairro]
    elif bairro in r_sul:
        sul += df_basicos2[bairro]
    elif bairro in r_norte:
        norte += df_basicos2[bairro]

In [11]:
print('Leste: ' + str(leste) + '\nNorte: ' + str(norte) +
      '\nOeste: ' + str(oeste) + '\nSul: ' + str(sul))

Leste: 9
Norte: 22
Oeste: 16
Sul: 8